body {
    color: var(--slate);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);
    margin: 0;

}
:root {
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --white: #FFF;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
}
.list {
    list-style-type: none;
}
.heading-tw {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 72px;
}
.heading-th {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.hero {
    background-color: var(--navyblue);
}
.hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding-top: 188px;
    padding-right: 316px;
    padding-left: 316px;
    padding-bottom: 188px;
}
.h-hero {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
}
.button-hero {
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
}
.button-hero:hover,
.button-hero:focus {
    background-color: var(--ocean);
}
.futures-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.futures-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cornflower)
}
.page-nav {
    display: flex;
    margin-right: auto;
}
.page-nav-list {
    display: flex;
    gap: 40px;
}
.link-contact {
    display: flex;
    gap: 40px;
}
.link-logo {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.034em;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-right: 76px;
}
.link {
    text-decoration: none;
}
.logo-web {
    color: var(--navyblue);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.034em;
    text-transform: uppercase;
}
.link-top {
    display: block;
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;

}
.link-top:hover,
.link-top:focus {
    color: var(--ocean);
}
.link-contact {
    font-style: normal;
}
.contact {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
    color: var(--ocean);
}
.basement {
    background-color: var(--navyblue)
}
.basement-text {
    color: var(--cloud);
}
.basement .logo-web {
    color: var(--cloud)
}
.basement .link-logo {
    display: block;
    padding-top: 101;
}
.basement .container {
    display: block;
    padding-bottom: 100px;

}
.filter {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    font-family: "Roboto", sans-serif;
    color: var(--iris);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    background-color: var(--cloud);
    cursor: pointer;
}
.filter:hover,
.filter:focus {
    color: var(--white);
    background-color: var(--ocean);
}
.team {
    background-color: var(--cloud);
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: 1128px;
}
.worker img {
    padding-bottom: 32px;
    width: 264px;
}
.worker-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
}
.paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.cards-heading {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.container {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    /* outline-offset: -2px; */
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.doing-container {
    display: flex;
    gap: 24px;
    
}
.portfolio-but {
    display: inline-flex;
    gap: 24px;
    padding: 96px 271px 72px 271px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-card {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower);
}